---
layout: page
---
  <style>
  section {
    padding-left: 200px;
    width: 600px;
  }

  h3{
    font-weight: normal;
    margin-top: 2em;
    color:#D65B00;
  }
  
  section{
    margin-top: 118px;
  }
  
  section header{
    margin-top: 2em;
    background-color: #0D0903;
    padding: 20px 0 20px 20px;
    font-size: 2em;
  }
  
  section a{
    color:#D6955E !important;
  }
  </style>

      {% for post in site.posts %}
      <article>
        <header id="{{ post.title | downcase }}">{{ post.title }}</header>
        {{ post.content }}
      </article>
      {% endfor %}
</section>

      <ul id="subnav">
        {% for post in site.posts %}
        <li><a href="#{{ post.title | downcase }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
