html {
  background-color: #261406;
  color:#A75821;
}

body {
  width: 920px;
  margin: 50px auto;
  font-family: 'American Typewriter','Century Schoolbook', 'consolas', 'gill sans';
}

h3 {
  clear: both;
}

section > p{
  clear: both;
}

a.api {
  color:#CB7A1F !important;
  text-decoration: none;
}

.split {
  float: left;
  width: 430px;
  padding:10px;
}

.col1 {
  clear: both;
}

.split p:first-child {
  padding-top: 0;
}

.split p {
  font-size: 0.8em;
}
