body pre{white-space:pre-wrap;}
body .highlight{background-color:#3e2313;padding:8px;color:#884513;}
body .c{color:#75715e}
 /* Comment */
body .err{color:#91511C;background-color:transparent !important ;border:none !important;}
/* Error */
body .k{color:#e16100}
/* Keyword */
body .l{color:#fbb224}
/* Literal */
body .n{color:#f8f8f2}
/* Name */
body .o{color:#f9a025}
/* Operator */
body .p{color:#d77b36}
/* Punctuation */
body .cm{color:#75715e}
/* Comment.Multiline */
body .cp{color:#75715e}
/* Comment.Preproc */
body .c1{color:#75715e}
/* Comment.Single */
body .cs{color:#75715e}
/* Comment.Special */
body .ge{font-style:italic}
/* Generic.Emph */
body .gs{font-weight:bold}
/* Generic.Strong */
body .kc{color:#fca11b}
/* Keyword.Constant */
body .kd{color:#efbe66}
/* Keyword.Declaration */
body .kn{color:#fca11b}
/* Keyword.Namespace */
body .kp{color:#f1b702}
/* Keyword.Pseudo */
body .kr{color:#ef9c66}
/* Keyword.Reserved */
body .kt{color:#ef9d66 !important}
/* Keyword.Type */
body .ld{color:#e6db74}
/* Literal.Date */
body .m{color:#ac6e4d}
/* Literal.Number */
body .s{color:#e88429}
/* Literal.String */

body .na{color:#a6e22e}
/* Name.Attribute */
body .nb{color:#f8f8f2}
/* Name.Builtin */
body .nc{color:#FF6C00}
/* Name.Class */
body .no{color:#66d9ef}
/* Name.Constant */
body .nd{color:#a6e22e}
/* Name.Decorator */
body .ni{color:#f8f8f2}
/* Name.Entity */
body .ne{color:#a6e22e}
/* Name.Exception */
body .nf{color:#a6e22e}
/* Name.Function */
body .nl{color:#f8f8f2}
/* Name.Label */
body .nn{color:#f8f8f2}
/* Name.Namespace */
body .nx{color:#f8f8f2}
/* Name.Other */
body .py{color:#f8f8f2}
/* Name.Property */
body .nt{color:#f92672}
/* Name.Tag */
body .nv{color:#f8f8f2}
/* Name.Variable */
body .ow{color:#f92672}
/* Operator.Word */
body .w{color:#f8f8f2}
/* Text.Whitespace */
body .mf{color:#ffed81}
/* Literal.Number.Float */
body .mh{color:#ffed81}
/* Literal.Number.Hex */
body .mi{color:#ffed81}
/* Literal.Number.Integer */
body .mo{color:#ffed81}
/* Literal.Number.Oct */
body .sb{color:#e6db74}
/* Literal.String.Backtick */
body .sc{color:#e6db74}
/* Literal.String.Char */
body .sd{color:#e6db74}
/* Literal.String.Doc */
body .s2{color:#e6db74}
/* Literal.String.Double */
body .se{color:#ae81ff}
/* Literal.String.Escape */
body .sh{color:#e6db74}
/* Literal.String.Heredoc */
body .si{color:#e6db74}
/* Literal.String.Interpol */
body .sx{color:#e6db74}
/* Literal.String.Other */
body .sr{color:#e6db74}
/* Literal.String.Regex */
body .s1{color:#e6db74}
/* Literal.String.Single */
body .ss{color:#e6db74}
/* Literal.String.Symbol */
body .bp{color:#f8f8f2}
/* Name.Builtin.Pseudo */
body .vc{color:#f8f8f2}
/* Name.Variable.Class */
body .vg{color:#f8f8f2}
/* Name.Variable.Global */
body .vi{color:#f8f8f2}
/* Name.Variable.Instance */
body .il{color:#ae81ff}
/* Literal.Number.Integer.Long */
body 