html {
  background-color: #FCF5E8;
  color:#082545;
  font-family: 'American Typewriter';
  text-shadow: 0px 1px 0px #e5e5ee;
}

code {
  color:#A1A083;
  font-family: 'American Typewriter';
  display:block;
}

/* ASCII Art */
pre {
  font-family: 'Courier';          
}

h4 {
  margin-bottom:2px;
}

/* Say command */
blockquote {
  background-color:#FBEBBD;
  margin: 0;
  padding: 12px;
}

@-webkit-keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

p, h4, blockquote, code {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
}

img {
  max-width: 100%;
}
