<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="http://jashkenas.github.com/docco/resources/docco.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/syntax.css">
  <link rel="stylesheet" href="../assets/css/api.css">
</head>
<body>
<div id='container'>
  <div id="background"></div>
  {{#sources?}}
  <div id="jump_to">
    Jump To &hellip;
    <div id="jump_wrapper">
      <div id="jump_page">
        {{#sources}}
          <a class="source" href="{{ url }}">{{ basename }}</a>
        {{/sources}}
      </div>
    </div>
  </div>
  {{/sources?}}
  <table cellspacing=0 cellpadding=0>
  <thead>
    <tr>
      <th class=docs><h1>{{ title }}</h1></th>
      <th class=code></th>
    </tr>
  </thead>
  <tbody>
    {{#sections}}
    <tr id='section-{{ section_id }}'>
      <td class=docs>
        <div class="pilwrap">
          <a class="pilcrow" href="#section-{{ section_id }}">&#182;</a>
        </div>
        {{{ docs }}}
      </td>
      <td class=code>
        <div class='highlight'><pre>{{{ code }}}</pre></div>
      </td>
    </tr>
    {{/sections}}
  </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8" ></script>
<script src="files.js"></script>
<script src="../assets/js/overview.js"></script>
<script async defer>    
    // replace all mentions of the class with a link to the docs
    // this makes the code a lot easier to read fomr this side.

for (var i = classes.length - 1; i >= 0; i--){
  var klass = classes[i]
  $('body').highlightRegex(klass);      
};


// rewrite the URLs from /api/api/x to /api/x
$(".api").each(function(index) {
  var url = $(this).attr("href").replace("API/",'');
   $(this).attr("href",  url );
});

</script>

</body>
