---
layout: nil
---

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Wibble Quest</title>
  <meta name="author" content="orta therox" />
  <meta name="company" content="http://ortatherox.com" />
  <meta name="email" content="orta.therox@gmail.com" />
  <meta name="date" content="Fri 22 Jul 2011 18:54:20 EDT" />
  <meta name="venue" content="The Internets" />
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/syntax.css">

<body>
  <div id="fadeout"></div>
  <nav>
    <ul>
      <li id="logo"><a href="index.html">WQ</a></li>
      <li id="api"><a href="#">API</a>
        <div id="dropdown">
          <h3>Objects</h3>
          <h3>Core Files</h3>
          <ul id="objects">
          </ul>
          <ul id="core">
          </ul>
        </div>
      </li>
      <li><a href="docs">Overview</a></li>
      <li><a href="tutorial">Beginner</a></li>
      <li><a href="advanced">Advanced</a></li>
      <li><a href="http://twitter.com/WibbleQuest">@WibbleQuest</a></li>
    </ul>
  </nav>
  <section>
    {{content}}
  </section>
  <!--  <script src="../assets/js/jquery-1.5.min.js"></script> -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8" ></script>
  <script src="assets/js/jquery_scroll.js"></script>
  <script src="API/files.js"></script>
  <script src="assets/js/overview.js"></script>
  
  <script>
      $('a').smoothScroll();
  </script>
  
  <script async defer>    
      // replace all mentions of the class with a link to the docs
      // this makes the code a lot easier to read from this side.\
      $(function() {
        setTimeout(processFiles, 100);
        function processFiles(){
          for (var i = classes.length - 1; i >= 0; i--){
            var klass = classes[i]
            $('section').highlightRegex(klass);
            $('#api ul#objects').append("<li><a href = 'API/" + klass + "'>" + klass + "</a></li>");
          };
          for (var i = core_classes.length - 1; i >= 0; i--){
            $('#api ul#core').append("<li><a href = 'API/" + core_classes[i] + "'>" + core_classes[i] + "</a></li>");          
          };
        };
      });
  </script>
  </body>
</html>  
