---
layout: nil
---

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Wibble Quest</title>
  <meta name="author" content="orta therox" />
  <meta name="company" content="http://ortatherox.com" />
  <meta name="email" content="orta.therox@gmail.com" />
  <meta name="date" content="Fri 22 Jul 2011 18:54:20 EDT" />
  <meta name="venue" content="The Internets" />
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/syntax.css">
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5057919-7']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="fadeout"></div>
  <nav>
    <ul>
      <li id="logo"><a href="index.html">WQ</a></li>
      <li id="api"><a href="#">API</a>
        <div id="dropdown">
          <h3>Objects</h3>
          <h3>Core Files</h3>
          <ul id="objects">
          </ul>
          <ul id="core">
          </ul>
        </div>
      </li>
      <li><a href="docs">Overview</a></li>
      <li><a href="tutorial">Beginner</a></li>
      <li><a href="advanced">Advanced</a></li>
      <li><a href="http://twitter.com/WibbleQuest">@WibbleQuest</a></li>
    </ul>
  </nav>
  <section>
    {{content}}
  </section>
  <!--  <script src="../assets/js/jquery-1.5.min.js"></script> -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8" ></script>
  <script src="assets/js/jquery_scroll.js"></script>
  <script src="assets/js/files.js"></script>
  <script src="assets/js/overview.js"></script>
  
  <script>
      $('#subnav a').smoothScroll();
      $('section a').smoothScroll();
  </script>
  
  <script async defer>    
  function performTask(items, numToProcess, processItem) {
      var pos = 0;
      // This is run once for every numToProcess items.
      function iteration() {
          // Calculate last position.
          var j = Math.min(pos + numToProcess, items.length);
          // Start at current position and loop to last position.
          for (var i = pos; i < j; i++) {
              processItem(items, i);
          }
          // Increment current position.
          pos += numToProcess;
          // Only continue if there are more items to process.
          if (pos < items.length)
              setTimeout(iteration, 50); // Wait 10 ms to let the UI update.
      }
      iteration();
  }
  
  $(function() {
    performTask( classes, 1,
      function (items, index) {
        var klass = items[index];
        $('section').highlightRegex(klass);
        $('#api ul#objects').append("<li><a href = 'API/" + klass + "'>" + klass + "</a></li>");
      }
    );
    for (var i = core_classes.length - 1; i >= 0; i--){
      $('#api ul#core').append("<li><a href = 'API/" + core_classes[i] + "'>" + core_classes[i] + "</a></li>");          
    }
  });      
  </script>
  </body>
</html>  
